<div class="black-bg" ng-show="mark">
</div>
<div class="popup-cont" ng-show="mark">
<!-- 输入密码框 -->
	<div class="popup-box">
		<div class="popup-text">
			<h2>输入密码</h2>
			<div change-focus>
				<input type="password" maxlength="1" class="input-1" ng-model="inputpass.inputA" >
				<input type="password" maxlength="1" class="input-2" ng-model="inputpass.inputB">
				<input type="password" maxlength="1" class="input-3" ng-model="inputpass.inputC">
				<input type="password" maxlength="1" class="input-4" ng-model="inputpass.inputD">
				<input type="password" maxlength="1" class="input-5" ng-model="inputpass.inputE">
				<input type="password" maxlength="1" class="input-6" ng-model="inputpass.inputF">
			</div>
		</div>
		<dl class="popup-box-dl">
			<dd>
				<input type="button" value="确定" ng-click="inputpass.clickFunction()">
			</dd>
			<dd>
				<input type="button" value="取消" ng-click="mark=false;">
			</dd>
		</dl>
	</div>
</div>
